@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&display=swap");

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    --container: 95%;
    --max-container: 1600px;
    --font: "Cormorant Garamond", serif;
}
html {
    overflow: hidden;
}
body {
    margin: 0;
    min-width: 320px;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(146deg, #e6e9f0 21.56%, #eef1f5 86.35%);
    font-family: "Arial", "Helvetica", sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.ant-tabs-nav-list {
    width: 100%;
}
.ant-tabs-tab {
    width: 50%;
    justify-content: center;
}
